@import '../../_main';

.Countdown {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  color: $white;
  font-size: 22px;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}