@import '../../_main'; 

.Hero {
    background-image: url(https://i.imgur.com/JIqbxGC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(80vh - 100px);
}