@import '../../_main'; 

.Navigation {
    
    &__wrapper {
        margin: 15px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include mobile {
            display: inherit;
        }
    }

    &__link {
        padding: 12px;
        background-color: $gray-blue;
        color: $white;
        border-radius: 3px;
        border: 1px solid $blue;
        margin: 0 6px;

        &:hover {
            cursor: pointer;
            background-color: $white;
            color: $blue;
            
        }
    }
}