@import '../../_main'; 

.Hotel {
    text-align: center;

    &__title {
        text-align: center;
    }

    &__wrapper {
        margin-top: 30px;
        background-color: $white;

        &__text {
            margin: 0 9px;
        }
    }

    &__button {

        &__container {
            display: flex;
            justify-content: center;
        }

        display: block;
        box-sizing: border-box;
        border: 1px solid $gray-blue;
        background-color: $blue;
        color: $white;
        margin-bottom: 12px;
        padding: 12px;
        text-decoration: none;
        border-radius: 9px;
        width: 50%;
    }

}